footer{
    background-color: $background-principal;
    font-size: 1rem;
    overflow: hidden;
    margin: 1.25rem 0px;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
        div{
            ul{
                display: flex;
            }
        }
}