main{
    background-color: $background-principal;
    font-size: 1rem;
    margin: 1.25rem 0px;
    grid-area: main;
}
.index_main{
    display: flex;
        flex-direction: column;
    section{
        div{
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: rgb(248, 131, 89);
                color:$element-hover;
                transform: $hovertrans;
                scale: 1,07;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                color: $dark-background ;
            }
        }
    }
}
.nosotros{
    column-gap: .625rem;
    article{
        margin-top: 6.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            width: 43.75rem;
        }
    }
    div{
        text-align: center;
    }
}