main{
    background-color: $background-principal;
    font-size: 1rem;
    margin: 1.25rem 0px;
    grid-area: main;
}
.index_main{
    div{
        height: 100%;
        span{
            display: flex;
            align-items: flex-end;
        }
        .carousel-indicators{
            @extend span;
        }
    }
}
main .nosotros{
    display: flex;
    flex-direction: column;
    margin: 18.75rem;
    row-gap: 1.25rem;
    justify-content: center;
    .sobrenosotros{
        margin: 3.125rem;
        text-align: center;
    }
        div{
            padding: 18.75rem;
            column-gap: .625rem;
        }
}