main{
    background-color: $background-principal;
    font-size: 1rem;
    margin: 1.25rem 0px;
    grid-area: main;
}

.nosotros{
    column-gap: .625rem;
    article{
        margin-top: 6.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            width: 43.75rem;
        }
    }
    div{
        text-align: center;
    }
}