form{
    @include flex-column-center;
    align-items: center;
    height: 31.25rem;
    width: 100%;
        fieldset{
            @extend form;
            align-items: center;
            margin: 1.25rem;
            padding: 1.25rem;
            row-gap: 1.875rem;
        }
}