form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31.25rem;
    width: 100%;
        fieldset{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1.25rem;
            padding: 1.25rem;
            row-gap: 1.875rem;
        }
}